<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">

    <title>Spiritum</title>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-light bg-myPrimary fixed-top">
        <class class="container">
            <a class="navbar-brand" href="#">
                <img src="./assets/images/SpiritumCS.svg" alt="SPIRITUM" class="navbar-brand__logo">
            </a>

            <button class="navbar-toggler navbar-toggler-right ml-auto" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon icon-bar"></span>
            </button>

            <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item ml-auto active">
                        <a class="nav-link" href="#">Domov<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item ml-auto">
                        <a class="nav-link" href="#poslanstvo">Naše poslanstvo</a>
                    </li>
                    <li class="nav-item ml-auto">
                        <a class="nav-link" href="#kdo-smo">Kdo smo</a>
                    </li>
                    <li class="nav-item ml-auto">
                        <div class="dropdown">
                            <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Storitve
                            </a>

                            <div class="dropdown-menu dropdown-menu-right bg-myPrimary"
                                aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="#">Nekej</a>
                                <a class="dropdown-item" href="#">Še nekej</a>
                                <a class="dropdown-item" href="#">Kr nekej</a>
                            </div>
                        </div>
                    </li>
                    <!-- <li class="nav-item ml-auto">
                        <div class="dropdown">
                            <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Account
                            </a>

                            <div class="dropdown-menu bg-primary" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="#">Sign Up</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Log In</a>
                            </div>
                        </div>
                    </li> -->
                </ul>
                <!--  <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
            </form> -->
            </div>
            </div>
    </nav>

    <!-- ############################################  HEADER ENDS HERE  ############################################ -->
