<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">

    <title>Spiritum</title>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-light bg-myPrimary fixed-top">
        <class class="container">
            <a class="navbar-brand" href="#">
                <img src="./assets/images/SpiritumCS.svg" alt="SPIRITUM" class="navbar-brand__logo">
            </a>

            <button class="navbar-toggler navbar-toggler-right ml-auto" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon icon-bar"></span>
            </button>

            <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item ml-auto active">
                        <a class="nav-link" href="#">Domov<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item ml-auto">
                        <a class="nav-link" href="#poslanstvo">Naše poslanstvo</a>
                    </li>
                    <li class="nav-item ml-auto">
                        <a class="nav-link" href="#kdo-smo">Kdo smo</a>
                    </li>
                    <li class="nav-item ml-auto">
                        <div class="dropdown">
                            <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Storitve
                            </a>

                            <div class="dropdown-menu dropdown-menu-right bg-myPrimary"
                                aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="#">Nekej</a>
                                <a class="dropdown-item" href="#">Še nekej</a>
                                <a class="dropdown-item" href="#">Kr nekej</a>
                            </div>
                        </div>
                    </li>
                    <!-- <li class="nav-item ml-auto">
                        <div class="dropdown">
                            <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Account
                            </a>

                            <div class="dropdown-menu bg-primary" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="#">Sign Up</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Log In</a>
                            </div>
                        </div>
                    </li> -->
                </ul>
                <!--  <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
            </form> -->
            </div>
            </div>
    </nav>

    <!-- ############################################  HEADER ENDS HERE  ############################################ -->

    <div class="container text-center">
        <h1 class="mb-4 mt-6 mb-lg-5 mt-lg-10">vsebina za<span class="bold"> Osebno Rast</span></h1>
        <div class="card bg-none">
            <h2 class="card-title card-heading mb-4 mt-4">Hvaležnost</h2>
            <img src="./assets/images/hvaleznost.jpg" class="card-img-top rounded w-50 mx-auto" alt="tree">
            <div class="card-body">
                
                <p class="card-text">Besedo »hvaležnost« vsi zelo dobro poznamo, pa vendar je v resničnem življenju vse
                    prevečkrat zapostavljena. Velikokrat se nanjo spomnimo, ko smo v težki situaciji in si v naše misli
                    poizkušamo priklicati občutek veselja in radosti za vse kar imamo in s tem spodbiti žalost in
                    nejevoljo
                    za to, česar nimamo ali še nismo dosegli. Ko v trenutku obupa iščemo razloge, zakaj vse smo lahko
                    hvaležni,
                    velikokrat to delamo pod prisilo, ker hočemo zavestno občutiti resnično hvaležnost in se zavedati,
                    da imamo
                    vseeno ogromno stvari, za katere smo lahko hvaležni. Ker prisilno in samo z našim umom ne moremo
                    začutiti tega
                    pristnega občutka, nastopi občutek krivde in vprašanja o tem, če si to, kar že imamo, sploh
                    zaslužimo. Ta
                    občutek nehvaležnosti po vsej verjetnosti izhaja iz človeške potrebe po »več«. V današnjem svetu je
                    zelo
                    razvit koncept, da človek nikoli nima dovolj. Iz tega potem izhaja tudi spoznanje, da nikoli ne bomo
                    dovolj
                    hvaležni in zadovoljni za to, kar že imamo, ker bi vedno lahko imeli še več.</p>
                    <p id="collapseHvaleznost" class="card-text collapse"> Če dobro premislimo, je
                    to sklenjen
                    krog ujetosti, ki nas nikakor ne more pripeljati do prave hvaležnosti za vse, kar imamo, ki jo
                    začutimo kot neko
                    toplino, pomirjenost in izpopolnjenost v svojem srcu. To nas navda z občutkom, da smo dovolj dobri
                    in da ne
                    potrebujemo stalnega dokazovanja in odobravanja zunanje okolice. Bolj bomo čutili hvaležnost v
                    svojem srcu,
                    bolj bomo cenili sebe in se imeli radi. Potrebno se je zavedati, da močni in resnični občutki
                    veselja in
                    hvaležnosti ne prihajajo iz zavestnega ponavljanja stvari, za katere smo hvaležni. Ta pristen
                    občutek,
                    ki ga iščemo, vedno nastopi spontano, brez pretiranega razmišljanja in vsiljevanja lastnih misli.
                    Hvaležnost je jedro in bistvo vsega, kar obstaja. Je glavna vrednota, iz katere izhajajo vsi
                    ostali koncepti in prepričanja. Je kot drevesna korenina, ki daje hrano drevesu, da lahko
                    žeje svoje sadove. Človek, ki mu primanjkuje hvaležnosti, nikoli ne mora biti dovolj srečen,
                    saj ti dve besedi gresta druga z drugo. Če se resnično zavedaš, da imaš čisto vse, kar v tem
                    trenutku potrebuješ, si lahko preprosto srečen. Takoj, ko dvomiš o tem in iščeš nekaj več, kar
                    bi napolnilo to praznino, se ne počutiš več dovolj srečnega. Ne poizkušajmo se prilagajati
                    današnjemu </p>
                    <a class="btn btn-link pt-0" data-toggle="collapse" href="#collapseHvaleznost" role="button"
                            aria-expanded="false" aria-controls="collapseHvaleznost">Več...</a>

            </div>
        </div>
    </div>

  
</body>
</html>                           
