<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">

    <title>Spiritum</title>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-light bg-myPrimary fixed-top">
        <class class="container">
            <a class="navbar-brand" href="#">
                <img src="./assets/images/SpiritumCS.svg" alt="SPIRITUM" class="navbar-brand__logo">
            </a>

            <button class="navbar-toggler navbar-toggler-right ml-auto" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon icon-bar"></span>
            </button>

            <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item ml-auto active">
                        <a class="nav-link" href="#">Domov<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item ml-auto">
                        <a class="nav-link" href="#poslanstvo">Naše poslanstvo</a>
                    </li>
                    <li class="nav-item ml-auto">
                        <a class="nav-link" href="#kdo-smo">Kdo smo</a>
                    </li>
                    <li class="nav-item ml-auto">
                        <div class="dropdown">
                            <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Storitve
                            </a>

                            <div class="dropdown-menu dropdown-menu-right bg-myPrimary"
                                aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="#">Nekej</a>
                                <a class="dropdown-item" href="#">Še nekej</a>
                                <a class="dropdown-item" href="#">Kr nekej</a>
                            </div>
                        </div>
                    </li>
                    <!-- <li class="nav-item ml-auto">
                        <div class="dropdown">
                            <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Account
                            </a>

                            <div class="dropdown-menu bg-primary" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="#">Sign Up</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Log In</a>
                            </div>
                        </div>
                    </li> -->
                </ul>
                <!--  <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
            </form> -->
            </div>
            </div>
    </nav>

    <!-- ############################################  HEADER ENDS HERE  ############################################ -->

    <!--  <div class="container"> -->
    <div id="carouselExampleIndicators" class="carousel slide bigMarginTop" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div id="wellness" class="carousel-item active">
                <div class="carousel-caption">
                    <h2 class="display-4">Kr neki k še ne vem</h2>
                    <p class="lead d-none d-sm-block">Razlaga prvega slajda....</p>
                    <button class="btn btn-sm btn-myPurple">Poglej več...</button>
                </div>
            </div>
            <div id="tibetan" class="carousel-item">
                <div class="carousel-caption">
                    <h2 class="display-4">Tibetanske posode</h2>
                    <p class="lead d-none d-sm-block">Prepustite se zvokom tibetanskih posod in se popolno
                        sprostite.
                    </p>
                    <button class="btn btn-sm btn-danger">Poglej več...</button>
                </div>
            </div>
            <div id="massage" class="carousel-item">
                <div class="carousel-caption">
                    <h2 class="display-4">Več vrst masaž</h2>
                    <p class="lead d-none d-sm-block">This is a description for the first slide.</p>
                    <button class="btn btn-sm btn-warning">Poglej več...</button>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <class class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </class>
        </div>
    </div>
    <!--  </div> -->

    <!-- ############################################  CAROUSEL ENDS HERE  ############################################ -->
    <div id="poslanstvo"></div>
    <div class="container text-center">
        <h1 class="mb-4 mt-6 mb-lg-5 mt-lg-10">naše<span class="bold"> Poslanstvo</span></h1>
        <p class="text-left">Živimo v času, ki zahteva hiter tempo življenja.
            Poleg tega na nas preti ogromno zahtev in pričakovanj iz zunanje okolice.
            Ob vsem tem pa se ne moremo izogniti stresnim situacijam in dogodkom. Skozi
            celotno naše življenje k nam prihajajo različna prepričanja in blokade. To je glavni razlog za neuspeh in
            nezadovoljstvo. Mnogo ljudi posega po različnih psihoaktivnih snoveh in zdravilih v želji,
            da bi se počutili boljše. Prav zato smo v sprostitvenem centru Spiritum prišli do spoznanja,
            da želimo ljudem pomagati na drugačen, bolj naraven način. S pomočjo različnih terapevtskih
            tehnik vam pomagamo, da si zopet povrnete samozavest, zadovoljstvo, vitalno energijo, odpravite
            blokade in spremenite negativna prepričanja, ki so od nekdaj zakoreninjena v vas. Privoščite si
            razvajanje za svoje psihično in fizično telo ter se prepustite nežnim dotikom rok, ki bodo s posameznimi
            tehnikami odpravile napetosti v vašem telesu. Skozi različne terapevtske tehnike se bodo v vašem telesu
            začele dogajati spremembe, ki bodo vplivale na vaše duševno počutje. Želja pomagati drugim je naše glavno
            poslanstvo in naša glavna skrb.
        </p>

    </div>

    <!-- <div class="container"> -->
    <div id="kdo-smo"></div>
    <div class="text-center mx-3 mx-lg-5 mx-xl-7">
        <h1 class="mb-4 mt-6 mb-lg-5 mt-lg-10">kdo<span class="bold"> Smo</span></h1>
        <div class="row">
            <div class="col-lg-4 mb-3">
                <div class="card h-100">
                    <img class="card-img-top card-img-border rounded-circle mx-auto mt-4" style="width:170px"
                        src="./assets/images/monika.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Monika Bergant,</h5>
                        <p class="card-text">diplomirana medicinska sestra in absolventka magistrskega študija
                            promocije
                            zdravja na fakulteti za zdravstvo, maserka in terapevtka.
                            Monika že vrsto let dela v zdravstvu na različnih področjih dela. Odlikuje jo izjemen
                            občutek
                            za človeka in empatija.
                        </p>
                        <p id="collapsMonika" class="card-text collapse ">
                            Že v svoji rani mladosti se je začela zanimati za človeško duhovnost.
                            Ima zelo veliko znanja, ki je plod lastnih izkušenj in velike količine prebranih knjig z
                            duhovno
                            tematiko. V svojem arhivu ima kar nekaj projektov in raziskav, ki so povezane s
                            spopadanjem s
                            stresom z negativnimi učinki na telo. Živi zdrav in aktiven življenjski slog. V prostem
                            času
                            se aktivno ukvarja z nogometom in ima veliko strast do glasbe.
                        </p>
                        <a id='extendMonika' class="btn btn-link pt-0 extend" data-toggle="collapse" href="#collapsMonika"
                            role="button" aria-expanded="false" aria-controls="collapsMonika">Več...</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mb-3">
                <div class="card h-100">
                    <img class="card-img-top card-img-border rounded-circle mx-auto mt-4" style="width:170px"
                        src="./assets/images/rok.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Rok Jamnik,</h5>
                        <p class="card-text">terapevt, maser in svetovalec za zdrav življenjski slog. Rok je po duši
                            športnik
                            , ki je večino svojega otroštva preživel na nogometnih zelenicah. Trenutno je njegova
                            strast fitnes
                            in zdrava prehrana, ki ustreza takemu načinu življenja.
                        </p>
                        <p id="collapsRok" class="card-text collapse">
                            Že leta se ukvarja z duhovnostjo
                            in osebno
                            rastjo, ki jo je nadgradil s prebiranjem duhovne tematike. Prakticira različne dihalne
                            tehnike in
                            ledene terapije, ki so plod znanega strokovnjaka Wima Hofa. Po naravi je zelo umirjen in
                            čuteč.
                            Je človek z velikim srcem in z neizmernim občutkom za soljudi. Njegove močne in hkrati
                            nežne
                            roke so pravi balzam za dušo in telo, saj odpravijo še tako trdovratne težave, ki se
                            zavedno ali
                            nezavedno kopičijo v človeškem telesu.
                        </p>
                        <a id='extend-button' class="btn btn-link pt-0" data-toggle="collapse" href="#collapsRok"
                            role="button" aria-expanded="false" aria-controls="collapsRok">Več...</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-3">
                <div class="card h-100">
                    <img class="card-img-top card-img-border rounded-circle mx-auto mt-4" style="width:170px"
                        src="./assets/images/iztok.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Iztok Bergant,</h5>
                        <p class="card-text">je diplomirani nevrofizioterapevt s številnimi izkušnjami na različnih
                            področij
                            zdravstva. Diplomiral je leta 1986 na takratni Visoki šoli za zdravstvo, smer
                            fizioterapija. Prvo
                            službo in pripravništvo je nastopil v Zavodu za rehabilitacijo invalidov v Ljubljani.
                        </p>
                        <p id="collapsIztok" class="card-text collapse">
                            Nato je nastopil
                            službo v Domu upokojencev Tabor, od tam pa se je preselil v Kamnik, kjer se je zaposlil
                            v Zavodu za
                            invalidno mladino. Leta 1995 se je preselil v Škofjo Loko in nastopil službo v Centru za
                            slepe in
                            slabovidne v Škofji Loki, nato pa se je leto pozneje zaposlil v zdravstvenem domu Škofja
                            Loka,
                            kjer je še danes. Najprej je službo opravljal na splošnem oddelku, nato pa se je
                            specializiral
                            za nevrofizioterapijo. Opravil je številne tečaje, med drugim tudi tečaj BOBATH, baby
                            tečaj BOBATH,
                            tečaj sklepne mobilizacije, NMT-ja, baby handlinga, itd. Več let je vodil materinsko
                            šolo, pri kateri
                            je bil zelo uspešen in priljubljen. Ljudje ga poznajo kot pozitivno osebo, vedno
                            pripravljeno pomagati.
                            Ima dober smisel za humor in veselje do glasbe. Njegovi največji uspehi so številni
                            bolniki, ki jim je
                            pomagal do ozdravitve in boljše kvalitete življenja. Predvsem pa so mu blizu
                            novorojenčki in mali
                            otroci, s katerimi dela z veliki veseljem in zavzetostjo, saj je tudi sam oče šestih
                            otrok.
                        </p>
                        <a class="btn btn-link pt-0" data-toggle="collapse" href="#collapsIztok" role="button"
                            aria-expanded="false" aria-controls="collapsIztok">Več...</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
    <!-- ############################################  O NAS ENDS HERE  ############################################ -->

    <div class="container text-center">
        <h1 class="mb-4 mt-6 mb-lg-5 mt-lg-10">vsebina za<span class="bold"> Osebno Rast</span></h1>
        <div class="card bg-none">
            <h2 class="card-title card-heading mb-4 mt-4">Hvaležnost</h2>
            <img src="./assets/images/hvaleznost.jpg" class="card-img-top rounded w-50 mx-auto" alt="tree">
            <div class="card-body">
                
                <p class="card-text">Besedo »hvaležnost« vsi zelo dobro poznamo, pa vendar je v resničnem življenju vse
                    prevečkrat zapostavljena. Velikokrat se nanjo spomnimo, ko smo v težki situaciji in si v naše misli
                    poizkušamo priklicati občutek veselja in radosti za vse kar imamo in s tem spodbiti žalost in
                    nejevoljo
                    za to, česar nimamo ali še nismo dosegli. Ko v trenutku obupa iščemo razloge, zakaj vse smo lahko
                    hvaležni,
                    velikokrat to delamo pod prisilo, ker hočemo zavestno občutiti resnično hvaležnost in se zavedati,
                    da imamo
                    vseeno ogromno stvari, za katere smo lahko hvaležni. Ker prisilno in samo z našim umom ne moremo
                    začutiti tega
                    pristnega občutka, nastopi občutek krivde in vprašanja o tem, če si to, kar že imamo, sploh
                    zaslužimo. Ta
                    občutek nehvaležnosti po vsej verjetnosti izhaja iz človeške potrebe po »več«. V današnjem svetu je
                    zelo
                    razvit koncept, da človek nikoli nima dovolj. Iz tega potem izhaja tudi spoznanje, da nikoli ne bomo
                    dovolj
                    hvaležni in zadovoljni za to, kar že imamo, ker bi vedno lahko imeli še več.</p>
                    <p id="collapseHvaleznost" class="card-text collapse"> Če dobro premislimo, je
                    to sklenjen
                    krog ujetosti, ki nas nikakor ne more pripeljati do prave hvaležnosti za vse, kar imamo, ki jo
                    začutimo kot neko
                    toplino, pomirjenost in izpopolnjenost v svojem srcu. To nas navda z občutkom, da smo dovolj dobri
                    in da ne
                    potrebujemo stalnega dokazovanja in odobravanja zunanje okolice. Bolj bomo čutili hvaležnost v
                    svojem srcu,
                    bolj bomo cenili sebe in se imeli radi. Potrebno se je zavedati, da močni in resnični občutki
                    veselja in
                    hvaležnosti ne prihajajo iz zavestnega ponavljanja stvari, za katere smo hvaležni. Ta pristen
                    občutek,
                    ki ga iščemo, vedno nastopi spontano, brez pretiranega razmišljanja in vsiljevanja lastnih misli.
                    Hvaležnost je jedro in bistvo vsega, kar obstaja. Je glavna vrednota, iz katere izhajajo vsi
                    ostali koncepti in prepričanja. Je kot drevesna korenina, ki daje hrano drevesu, da lahko
                    žeje svoje sadove. Človek, ki mu primanjkuje hvaležnosti, nikoli ne mora biti dovolj srečen,
                    saj ti dve besedi gresta druga z drugo. Če se resnično zavedaš, da imaš čisto vse, kar v tem
                    trenutku potrebuješ, si lahko preprosto srečen. Takoj, ko dvomiš o tem in iščeš nekaj več, kar
                    bi napolnilo to praznino, se ne počutiš več dovolj srečnega. Ne poizkušajmo se prilagajati
                    današnjemu </p>
                    <a class="btn btn-link pt-0" data-toggle="collapse" href="#collapseHvaleznost" role="button"
                            aria-expanded="false" aria-controls="collapseHvaleznost">Več...</a>

            </div>
        </div>
    </div>
</body>

</html>